@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap");

html,
body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
}

.wrapper-calc {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.wrapper-oper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.form_el {
  width: 100px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid salmon;
  outline-color: salmon;
}

.btn-sum,
.btn-sub {
  padding: 10px 20px;
  border: 1px solid salmon;
  background-color: salmon;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.btn-sum,
.btn-sub:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.35s;
}

button {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button:hover {
  cursor: pointer;
}

h6 {
  text-decoration: underline;
}

h6:hover {
  cursor: pointer;
}
