.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: rgb(33, 33, 33);
  color: beige;
}

.App .no-border {
  border: 0;
}

.App .mb-sm {
  margin-bottom: 1em;
}

.text-sm {
  font-size: 0.75rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  width: min(88%, 1200px);
  text-align: center;
}
