.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.content img {
  object-fit: cover;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 0px 5px 0px #000000;
}
