@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Domine", sans-serif;
  color: rgb(53, 52, 52);
}

a {
  color: rgb(53, 52, 52);
  text-decoration: none;
}

nav a:hover {
  color: white;
  background-color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  list-style-type: none;
  margin-right: 20px;
}

.hero {
  height: 300px;
  position: relative;
  padding-right: 20px;
  /*border: 2px solid greenyellow;*/
}

.hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero_title {
  /*border: 2px solid red;*/
  top: -10px;
  left: 20px;
  position: absolute;
}

/* Cards */

.cards-reciepts {
  display: flex;
  gap: 0.5em;
  overflow-x: scroll;
}

.card {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  border: none;
  border-radius: 10px;
  padding: 1em;
  width: 12em;
  margin: 1.5em;
}

.card-title {
  font-size: 1em;
  height: 4em;
  text-align: center;
}

.card .img-cont {
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}

.img-cont img {
  border: none;
  border-radius: 10px;
  width: 10rem;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

.subscribeform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.subscribeform h4 {
  /*border: 2px solid salmon;*/
  margin-top: 15px;
}

#email {
  height: 30px;
  border: 0ch;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

#button {
  color: white;
  background-color: black;
  border-radius: 5px;
}

#button:hover {
  color: black;
  background-color: white;
}

.vantaggi1 {
  /*width: 100%;*/
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  /* border: 2px solid limegreen;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 100px;
  padding-bottom: 40px;
  background-color: rgb(248, 171, 148);
}

.ricette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 30px;
}

.ricette div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
}

.ricette div img {
  width: 50px;
  height: 50px;
}

.column {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

.product1 {
  /*border: 2px solid limegreen;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-description {
  /*border: 2px solid rgb(205, 50, 50);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.course-description img {
  width: 240px;
  border-radius: 5px;
}

.description {
  width: 200px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 20px;
  /*border: 2px solid rgb(0, 47, 255);*/
}

.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.review {
  position: relative;
  background-color: rgb(248, 171, 148);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.hero__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review img {
  position: absolute;
  top: 300px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.hero__carousel button {
  width: 50px;
  height: 50px;
  padding: 18px 20px;
  border-radius: 100%;
  border: 0;
  box-shadow: -6px -3px 1px black;
}

.review1 {
  background-color: rgb(255, 255, 255);
  width: 240px;
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.subscribtionform {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribtionform h3 {
  text-align: center;
}

.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  background-color: rgb(248, 171, 148);
  border-radius: 5px;
  margin: 30px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
}

#button1 {
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

#button1:hover {
  color: black;
  background-color: white;
  border: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.adress,
.information p,
.myaccount p {
  font-size: 10px;
}

.socialicons ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
}

.myaccount,
.information,
.contacts {
  flex: 3;
}

.imageinsta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  flex: 1;
}

/*.imageinsta img {
  width: 25%;
}*/

@media only screen and (min-width: 768px) {
  nav ul {
    justify-content: flex-end;
    gap: 20px;
  }

  .hero {
    display: flex;
    justify-content: right;
    height: 600px;
  }

  .hero_title {
    /*border: 2px solid red;*/
    top: 40px;
    left: 50px;
    position: absolute;
  }

  .hero img {
    width: 800px;
    height: 600px;
    object-fit: cover;
  }

  .subscribeform {
    position: absolute;
    top: 70px;
    left: 50px;
    flex-direction: row;
    gap: 20px;
  }

  .columns {
    width: 360px;
  }

  .vantaggi1 {
    flex-direction: row;
    padding: 0 100px;
  }

  .product1 {
    display: flex;
    justify-content: center;
  }

  .course-description {
    width: 700px;
    padding-bottom: 40px;
  }

  .product1 h2 {
    margin: 40px;
  }

  .course-description {
    /*border: 2px solid red;*/
    margin-top: 40px;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    align-items: center;
  }

  .course-description img {
    width: 420px;
    border-radius: 5px;
  }

  .description {
    width: 100%;
    height: 240px;
  }

  .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .review {
    padding: 20px;
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .review img {
    top: 260px;
  }

  .review1 {
    width: 360px;
  }

  .form1 {
    height: 200px;
    width: 600px;
  }

  #email {
    width: 300px;
    height: 40px;
  }

  #button1 {
    width: 80px;
    height: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .subscribeform {
    flex-direction: column;
    gap: 0;
  }

  .vantaggi1 {
    flex-direction: row;
    padding: 0 100px;
  }

  .form1 {
    height: 500px;
    width: 800px;
  }

  #email {
    width: 400px;
    height: 50px;
  }

  #button1 {
    width: 100px;
    height: 50px;
  }

  footer {
    justify-content: space-around;
  }
}
