@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Anek Bangla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(5, 101, 0);
  background: linear-gradient(
    90deg,
    rgba(5, 101, 0, 1) 0%,
    rgba(255, 55, 0, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
